body {
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headingContainer {
  width: 540px;
  display: flex;
  justify-content: space-evenly;
  padding: 5% 0%;
}

h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(180deg, orange 0%, #f5f5dc 55%, green 85%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.orange {
  width: 540px;
  height: 120px;
  background-color: orange;
}

.white {
  width: 540px;
  height: 120px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.white img {
  width: 120px;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.green {
  width: 540px;
  height: 120px;
  background-color: green;
}
